
    <footer>
    <div><h3>BAU iTools</h3>
    <a href="/pdfs/CV.pdf" download>About</a><br>
    <a href="mailto:hr@bauitools.com">Contact Us</a></div>

    <div><h3>Legal</h3>
    <a href="/assets/Terms of Service.pdf" download>Terms of Service</a></div>
  
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    
    <script src="/scripts/bootbox.min.js"></script>
  </body>
</html>
