
    <footer class="container">
    <p>&copy 2018 - 2019</p>
    <a href="#">About</a> - <a href="mailto:hr@bauitools.com">Contact Us</a> - <a href="/assets/Terms of Service.pdf" download>Terms of Service</a>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    
    <script src="/scripts/bootbox.min.js"></script>
  </body>
</html>
