<% include partials/header%>

<h1>PETITIONS PAGE!!</h1>

<form action="/newPetition" method="POST">
    <div class="form-group">
      
      <textarea class="form-control" name="request" id="petitionsArea" rows="3"></textarea>
    </div>
    <button type="submit"  class="btn btn-primary">Post</button>
  </form>

<% include partials/footer%>