
<%include partials/header%>
<% if (loginStatus == "login successful") {%>
    <h1>LoggedIn As <p><%=user%>!</p></h1>

    
    <% } else {%>
    <h1>REGISTERED!!!!</h1>
        <div class="container">
            <div class="row">
            <div class="col-md-4">
                <h2>Weekly Schedule Maker</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="#" role="button">Get Started!</a></p>
            </div>
            <div class="col-md-4">
                <h2>Tuition Calculator</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="#" role="button">Get Started!</a></p>
            </div>
            <div class="col-md-4">
                <h2>Petition Submission</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                <p><a class="btn btn-secondary" href="/petitions" role="button">Get Started!</a></p>
            </div>
            </div>
        </div>
<% } %>
<%include partials/footer%>