<%include partials/header%>
    <div class="register">
            <% if(error && error.length > 0){ %>
                <div class="alert alert-danger" id="error" role="alert">
                    <%= error %>
                </div>
                <% } %>
                <% if(success && success.length > 0){ %>
                <div class="alert alert-success" id="success" role="alert">
                    <%= success %>
                </div>
                <% } %>
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="/assets/no_name1.png" alt="logo"/>
                <h3>Welcome</h3>
                <p>Having trouble with your weekly college schedule? Look no further!</p>
                
            </div>
            <div class="col-md-9 register-right">
                <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Login</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                  
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <form name="register-form" action="/register" method="POST">
                        <h3 class="register-heading">Register As a Student</h3>
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="First Name" name="firstName" required />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Last Name" name="lastName" required />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="ID" name="id" required/>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control"  placeholder="Password" name="password" required />
                                </div>
                                <div class="form-group">
                                   
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email" name="email" required/>
                                </div>
                                <div class="form-group">
                                    <input type="text"  name="phoneNumber" class="form-control" placeholder="Your Phone Number" required/>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" name="faculty">
                                        <option class="hidden"  selected disabled>Please select your Faculty</option>
                                        <option value="engineering">Engineering</option>
                                        <option value="business">Business</option>
                                        <option value="medicine">Medicine</option>
                                        
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Major" name="major" required />
                                </div>
                               
                                
                                <input type="submit" class="btnRegister"  value="Register"/>
                            </div>
                            
                        </div>
                        
                      </form>
                    </div>
                    <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <h1 style="text-align: center;" class="register-heading">Login</h1>
                        <div class="row register-form">
                          
                            <div class="container">
                                <div class="row row-register">
                                   
                                    <div style=" width:50%;margin: 25px auto;">
                                        <form action="/login" method="POST" class="form-signin">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="id" placeholder="ID" required>
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" name="password" placeholder="Password" required>
                                            </div>
                            
                                            <div class="form-group">
                                                <button class="btn btn-lg btn-primary btn-block" id="loginBtn">Login</button>
                                            </div>
                            
                                        </form>
                                       
                                    </div>
                                </div>
                            </div>
                            
                            </div>
                         
                        </div>
                    </div>
                </div>
            </div>
           
           
        </div>

    </div>
   
<%include partials/footer%>