<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel='icon' href='favicon.ico' type='image/x-icon'/ >

    <title>Login</title>
     <!-- default bootstrap styles-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Custom styles-->
    <link href="signin.css" rel="stylesheet">
    <!-- Custom styles for navbar -->
    <link rel="stylesheet" type="text/css" href="toolkitNavbar.css">
  </head>

  <body class="text-center">
     <!--navbar -->
    <nav class="navbar-navbar-default">
    <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
            <img  class="logo-img" width="35" height ="45" ALIGN=LEFT alt="BAU Logo" src="https://upload.wikimedia.org/wikipedia/commons/c/c4/BAULogo.png">
        <a href="#" class="navbar-brand">BAU Student Toolkit</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-nav-demo">
        <ul class="nav navbar-nav">
          <li><a href="#">About</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Sign Up</a></li>
          <li><a href="#">Login</a></li>
        </ul>
      </div>
    </div>
  </nav>

    <form class="form-signin">
      <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal"><b>Please Login</b></h1>
      <label for="inputEmail" class="sr-only">ID</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="ID" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit" >Login</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2018-2019</p>
      <p>Don't have an account? <a class="signup">Sign up now</a></p>
    </form>
  </body>
</html>
