<!-- <!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="tuitioncalculator.css">
    <link rel='icon' href='favicon.ico' type='image/x-icon'/>
	<title>Tuition Calculator</title>
</head>
<body> -->

<%include partials/header%>
<h1>Tuition Calculator</h1>

<div><form>
  <p><label for="unicredits">University Credits:</label>
	<input type="number" name="Number of University Credits" id="unicredits"></p>
  <p><label for="facultycredits">Faculty Credits:</label>
  <input type="number" name="Number of Faculty Credits" id="facultycredits"></p>
</form></div>
 <p></p>

<div class="dropdown">
        <button class="dropbtn">Select Level of Education</button>
        <div class="dropdown-content">
          <a href="#">Undergraduate Studies</a>
          <a href="#">Graduate Studies</a>
        </div>
</div>

<div class="dropdown">
        <button class="dropbtn">Select Faculty</button>
        <div class="dropdown-content">
          <a href="#">Engineering</a>
          <a href="#">Sciences</a>
        </div>
</div>

<div class="dropdown">
  <button class="dropbtn">Select Status</button>
  <div class="dropdown-content">
    <a href="#">Old Student (before 2018-2019)</a>
    <a href="#">New Student (after 2018-2019)</a>
  </div>
</div>

<div class="dropdown">
        <button class="dropbtn">Transportation</button>
        <div class="dropdown-content">
          <a href="#">No Transportation</a>
          <a href="#">One Semester</a>
          <a href="#">Two Semesters</a>
          <a href="#">Full Year (including Summer Semester)</a>
        </div>
</div>
<p><label class="container"><input type="checkbox" name="gg" checked="checked"> National Social Security Health Insurance<span class="checkmark"></span></label></p>
<button class="dropbtn">Calculate</button>

<%include partials/footer%>
