body{

  height: 100%;
 margin-top: 80px;
  
}

html{
  height: 100%;
}
.container{
  height:100%;
}
/* footer */
footer{
  background: url("/assets/footer1.png") no-repeat 400px;
  height:250px;  
  font-size: 18px;
  bottom: 0px;
}
footer div{
  float: left;
  width: 30%;
  padding-top: 40px;
  padding-left: 40px;
}
footer, footer a, footer a:hover {
  color: #40356F ;

}

/* background slide show for landing page */
.slideshow { 
  height: 100%;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 0;
}
#title{
  text-shadow: 1px 1px 1px #40356F;
}

.slideshow li { 
  animation: imageAnimation 50s linear 2.5s infinite; 
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(1);
  width: 100%;
  z-index: 0;
}

.slideshow li:nth-child(1) { 
  background-image: url(/assets/1.jpg) 
}
.slideshow li:nth-child(2) { 
  background-image: url(/assets/2.jpg);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(/assets/3.jpg);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(/assets/4.jpg);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(/assets/peeps.jpg);
  animation-delay: 40s; 
}

@keyframes imageAnimation { 
  0%, 40% { 
    animation-timing-function: ease-in;
    opacity: 0; 
    transform: scale(1);
  }
  10% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: scale(1.1);
  }
  20% {
    opacity: 1;
    transform: scale(1.2);
  }
  30% {
    opacity: 0;
    transform: scale(1.2);
  }
}
.row
{
  margin-right: 0px;
}
.row.row-register{
  margin-top:0px;
}
/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}

#landing-header {
  padding-top: 40vh;
  position: relative;
  text-align: center;
  z-index: 1;
}
#landing-header h1 {
  color: #fff;
  font-size: 5rem;
  margin: 0.5em auto;
}
.card-img-top
{
  height: 225px;
  width: 100%;
  display: block;
  vertical-align: middle;
  border-style: none;
  
}
.newPetition
{
  display: inline-block;
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
    
}
.card-text
{
  font-size: small;
}
.progress-bar-animated
{
  color: black;
  font-size: 15px;
}

.register{
  background: -webkit-linear-gradient(left, #40356F, #69E9F5);
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 25px;
  height: 100%; 
}
.register-left{
  text-align: center;
  color: #fff;
  margin-top: 4%;
}
.register-left input{
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  width: 60%;
  background: #f8f9fa;
  font-weight: bold;
  color: #383d41;
  margin-top: 30%;
  margin-bottom: 3%;
  cursor: pointer;
}
.register-right{
  background: #f8f9fa;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}
.register-left img{
  margin-top: 15%;
  width: 80%;
  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-30px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-40px); }
}
.register-left p{
  font-weight: lighter;
  padding: 12%;
  margin-top: -9%;
}
.register .register-form{
  padding: 10%;
  margin-top: 10%;
}
.btnRegister{
  float: right;
  margin-top: 10%;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  background: #40356F;
  color: #fff;
  font-weight: 600;
  width: 50%;
  cursor: pointer;
}
.register .nav-tabs{
  margin-top: 3%;
  border: none;
  background: #40356F;
  border-radius: 1.5rem;
  width: 14%;
  float: right;
}
.register .nav-tabs .nav-link{
  padding: 2%;
  height: 34px;
  font-weight: 600;
  color: #fff;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
  border: none;
}
.register .nav-tabs .nav-link.active{
  width: 100px;
  color: #40356F;
  border: 2px solid #40356F;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
.register-heading{
  text-align: center;
  margin-top: 8%;
  margin-bottom: -15%;
  color: #40356f;
}
#loginBtn
{
 border-radius: 1.5rem;
  padding: 2%;
  background: #40356F;
  color: #fff;
}
.hvrbox * {
	box-sizing: border-box;
}
.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}
.hvrbox img {
	max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
	display: block;
}
.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #40356F;
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 1;
}
.hvrbox .hvrbox-text {
	text-align: center;
	font-size: 30px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
	font-size: 15px;
	border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
	border-top: 1px solid rgba(179, 179, 179, 0.7);
	margin-top: 5px;
	padding-top: 2px;
	display: none;
}
.hvrbox.active .hvrbox-text_mobile {
	display: block;
}

.hvrbox .hvrbox-layer_top-signed {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background:green;
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top-signed,
.hvrbox.active .hvrbox-layer_top-signed {
	opacity: 1;
}
/* navbar */
.bg-dark{
  background-color: white !important;
}
.navbar-dark .navbar-brand{
  color: #40356F;
}
.navbar-dark .navbar-nav .active>.nav-link, .nav-item.nav-link, .nav-link.disabled{
  color:#40356f !important;
}
.navbar-dark .navbar-nav .nav-link , .dropdown-item{
  color: #40356f;
}
.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover, .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{
  color:#40356F;
}


/* landing */
.btn.btn-secondary{
  color: white;
  background: #40356F;
  border-color: #40356F;
}
#landing-header h1{
  color:#40356F;
}

/* Petition Dashboard */
 #newPetition{
   background-color: #40356F;
   border-color: #40356f;
   margin-top:25px;
 }
 .btn-outline-primary:hover{
   background-color: #40356f;
   border-color: #40356f;
 }
 .btn-outline-primary{
   border-color: #40356f;
   color: #40356f;
 }
 .progress-bar{
   background-color: #69E9F5;
 }
 .hvrbox .hvrbox-layer_top-signed {
   background: #69E9F5;
 }

 /* New Petition */
 .btn-primary, .btn-primary:hover{
   background: #40356F;
   border-color: #40356f;
 }
#h1pet{
  color: #40356f;
  text-align: center;
}
#newpet{
  margin-top:80px;
}




/* Tuition Calculator */
/* Style the form */
#regForm {
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
  height: 100%;
  color:#40356F;
}


/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none; 
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #40356f;
}
#regForm input[type="checkbox"]{
width: 5%;
}
#insur1{
  padding-top:20px;
}
#regForm select, #regForm input{
  padding:5px;
  border-radius: 5px;
  width:100%;
}


/* buttons */
#prevBtn, #nextBtn,#findSchedules, #calculate{
  color: white;
  background: #40356F;
  border-color:#40356f;
  border-radius: 1.5rem;
  margin-top: 3%;
  border: none;
  width: 150px;
  height: 40px;
}
#h1calc{
  margin-bottom: 5%;
  color:#40356f;
}
#member
{
  width: 45%;
  height: 30px;
  margin-bottom: 10px;
}
#success,#error {
  -webkit-animation: seconds 1.0s forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 5s;
  animation: seconds 1.0s forwards;
  animation-iteration-count: 1;
  animation-delay: 5s;
  

}
@-webkit-keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px; 
  }
}
@keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px; 
  }
}

.qty #count {
  color: #000;
  display: inline-block;
  vertical-align: top;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  padding: 0 2px
  ;min-width: 35px;
  text-align: center;
}
.qty .plus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
 
  width: 30px;
  height: 30px;
  font: 30px/1 Arial,sans-serif;
  text-align: center;
  
  }
  .qty
  {
   margin-bottom: 10px;
  }
  .text-muted
  {
    margin-bottom: 0;
  }
 #numberOfCourses
 {  
   margin-top: 10px;
 }
  .addSubtract
  {
    background: #40356F; 
  }
.qty .minus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;

  width: 30px;
  height: 30px;
  font: 30px/1 Arial,sans-serif;
  text-align: center;
  
  background-clip: padding-box;
}
#numberOfCourses {
  text-align: center;
}


.plus,.minus{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
#count{  
  border: 0;
  width: 2%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:disabled{
  background-color:white;
}


 .card.my-4{
   border-radius: 15px;
   box-shadow: 0 0 25px rgba(0,0,0,.04);
 }
 .card-header{
   background: rgba(0,0,0,0);
 }

 #navbarPet{
  background: #40356f !important;
  color: #fff !important;

}
#footerShow
{
  background: #40356F;
  color: white; 

}
#calendar 
{
  width: 100%;
}