body{
  margin-top: 90px;
}
/* background slide show for landing page */
.slideshow { 
  height: 100%;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 0;
}

.slideshow li { 
  animation: imageAnimation 50s linear 2.5s infinite; 
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(1);
  width: 100%;
  z-index: 0;
}

.slideshow li:nth-child(1) { 
  background-image: url(/assets/1.jpg) 
}
.slideshow li:nth-child(2) { 
  background-image: url(/assets/2.jpg);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(/assets/3.jpg);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(/assets/4.jpg);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(/assets/maybe1.jpg);
  animation-delay: 40s; 
}

@keyframes imageAnimation { 
  0%, 40% { 
    animation-timing-function: ease-in;
    opacity: 0; 
    transform: scale(1);
  }
  10% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: scale(1.1);
  }
  20% {
    opacity: 1;
    transform: scale(1.2);
  }
  30% {
    opacity: 0;
    transform: scale(1.2);
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}


#landing-header {
  padding-top: 40vh;
  position: relative;
  text-align: center;
  z-index: 1;
}
#landing-header h1 {
  color: #fff;
  font-size: 5rem;
  margin: 0.5em auto;
}
.card-img-top
{
  height: 225px;
  width: 100%;
  display: block;
  vertical-align: middle;
    border-style: none;
  
}
.newPetition
{
  display: inline-block;
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
}
.card-text
{
  font-size: small;
}
.progress-bar-animated
{
  color: black;
  font-size: 15px;
}



