
.logo-img {
    margin-right: 10px;
    margin-top: 2px;

}
.navbar-navbar-default{
	background-color: #003571;
	float: top;
}
.navbar-brand{
	color: white;
}

[href]{
	color: white;
	font-size: 13px;
	font-family: Courier New;
}
.navbar-brand{
	font-size: 20px;
	font-family: Courier New;
	font-weight: bold;
}

